In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [4]:
file = 'production_client10.csv'

In [5]:
data=pd.read_csv(file)

In [6]:
data

,Unnamed: 0.1,Unnamed: 0,datetime,product_type,county,eic_count,installed_capacity,is_business,date,target,...,lowest_price_per_mwh,highest_price_per_mwh,elect_prices,hour,dayofweek,quarter,month,year,dayofyear,day
0,39,39,2021-09-01 00:00:00,3,10,111,1368.0,0,2021-09-01,0.000,...,45.23,46.32,92.51,0,2,3,9,2021,244,1
1,99,99,2021-09-01 01:00:00,3,10,111,1368.0,0,2021-09-01,0.000,...,45.23,46.32,88.90,1,2,3,9,2021,244,1
2,159,159,2021-09-01 02:00:00,3,10,111,1368.0,0,2021-09-01,0.000,...,45.23,46.32,87.35,2,2,3,9,2021,244,1
3,219,219,2021-09-01 03:00:00,3,10,111,1368.0,0,2021-09-01,0.000,...,45.23,46.32,86.88,3,2,3,9,2021,244,1
4,279,279,2021-09-01 04:00:00,3,10,111,1368.0,0,2021-09-01,0.000,...,45.23,46.32,88.43,4,2,3,9,2021,244,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6989,453704,453704,2023-05-29 06:00:00,3,10,228,2692.4,0,2023-05-29,114.394,...,28.16,36.98,66.66,6,0,2,5,2023,149,29
6990,453768,453768,2023-05-29 07:00:00,3,10,228,2692.4,0,2023-05-29,246.495,...,28.16,36.98,58.71,7,0,2,5,2023,149,29
6991,453832,453832,2023-05-29 08:00:00,3,10,228,2692.4,0,2023-05-29,474.705,...,28.16,36.98,29.92,8,0,2,5,2023,149,29
6992,453896,453896,2023-05-29 09:00:00,3,10,228,2692.4,0,2023-05-29,1007.071,...,28.16,36.98,4.03,9,0,2,5,2023,149,29
6993,453960,453960,2023-05-29 10:00:00,3,10,228,2692.4,0,2023-05-29,1520.552,...,28.16,36.98,3.49,10,0,2,5,2023,149,29

In [7]:
data.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'datetime', 'product_type', 'county',
       'eic_count', 'installed_capacity', 'is_business', 'date', 'target',
       'prediction_unit_id', 'temperature', 'dewpoint', 'rain', 'snowfall',
       'surface_pressure', 'cloudcover_total', 'windspeed_10m',
       'winddirection_10m', 'shortwave_radiation', 'direct_solar_radiation',
       'diffuse_radiation', 'lowest_price_per_mwh', 'highest_price_per_mwh',
       'elect_prices', 'hour', 'dayofweek', 'quarter', 'month', 'year',
       'dayofyear', 'day'],
      dtype='object')